body {
  line-height: 1.7;
  font-weight: 300;
  font-size: 1.1rem;
  background: #00802b;
  padding :50px;
  height : 100px;
}

    .site-navbar .site-navigation .site-menu .active > a {
      color: white;
      display: inline-block;
}
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }

      .site-navbar .site-navigation .site-menu > li > a {
        color:white;
        display: inline-block;
        text-decoration: none !important; }
